
  .circular-button {
    position: fixed;
    inset-block-end: 30px;        /* 20px from the bottom */
    inset-inline-end: 30px;         /* 20px from the right */
    inline-size: 100px;         /* Diameter of the circle */
    block-size: 100px;        /* Diameter of the circle */
    background-color: #f0a804;
    border: none;         /* No border */
    color: white;         /* White text */
    padding: 20px 0;      /* Padding to help make it circular, adjusts text alignment */
    border-radius: 50%;   /* Makes the button circular */
    text-align: center;   /* Center the text inside the button */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;      /* Button text size */
    margin: 4px 2px;
    cursor: pointer;      /* Pointer cursor on hover */
    transition: background-color 0.6ms; /* Smooth transition for hover effect */
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Shadow for 3D effect */
}
.circular-button:hover {
    background-color: #d89004; /* Darker shade of button color on hover */
    inline-size: 105px;         /* Diameter of the circle */
    block-size: 105px;        /* Diameter of the circle */
}

.conversation-container {
  width: 50vw; /* 50% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
  border: 4px solid #ccc; /* Adjust border width and color as needed */
  padding: 10px; /* Adjust padding as needed */
  display: flex; /* Use flexbox */
  flex-direction: column; /* Arrange children vertically */
  align-items: flex-end; /* Align items to the right side */
  animation-name: slideInRight; /* Name of the animation */
  animation-duration: 1s; /* Duration of the animation */
  animation-timing-function: ease-out; /* Timing function */
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}